.parent {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    }

.row {
    display: flex !important;
    flex-direction: row !important;
}

.column {
    display: flex;
    flex-direction: column;

}

.center {
    text-align: center;
}

.details {
    padding: 20px;
    border: 4px solid black;
}

.pop-button {
    margin-top: auto;
    margin-bottom: 0px;


}

.pop-button p{

    padding-bottom: 10px;
}

.pop-button button{

    padding: 10px 30px 10px 30px;
    border: none;
    color: white;
    background-color: #00176a;

}
.popup__inner{
    width: 50% !important;
    height:min-content!important;
}

.info{

    margin-top: auto;
    margin-bottom: 0;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.319);
}

.content{
    padding: 50px;
    // padding-top: 10px;
    // padding-bottom: 10px;
}