.cardT{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  padding: 20px;
  max-width: 800px;
  justify-content: space-between;
  background: #B0C2FF !important;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
 
  display: flex;
  flex-direction: column;
 
}

.cardT-button{
  margin-left: auto;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: 10px;
}

.cardT-button .button {
  padding: 10px 30px 10px 30px;
  border: none;
  color: white;
  background-color: #00176a;

}

.center{
  text-align: center;
  margin-top: 10%;
}

.cardT-id{
  padding-left: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.326);
  text-align: left !important;
}

.cardT-date{
  font-size: 10px;
  color: rgba(0, 0, 0, 0.544);
  padding: 5px;
  text-align: left !important;

}

.cardT-details{
  font-size: 12px;
  color: rgba(55, 55, 55, 0.844);
  padding: 5px;
  font-weight: 100 !important;
  text-align: left !important;
}

.cardT-status{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.450);
  border-left: 2px solid rgba(0, 0, 0, 0.644);
  padding: 5px;
}

.cardT-title{
  font-size: 18px;
  color: black;
  padding: 5px;
}

.main-text{
  width: 60%;
} 

.done{
  color: #00176a !important;
}

.cardT-due{
  font-size: 16px;
}